/* mixins */

@mixin webfonts($lineheight:1) {
	font-family: 'acfbs' !important;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;  line-height: $lineheight; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}


@mixin col-1() {
	-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%;
}
@mixin col-2() {
	-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%;
}
@mixin col-3() {
	-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%;
}
@mixin col-4() {
	-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%;
}
@mixin col-5() {
	-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%;
}
@mixin col-6() {
	-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;
}
@mixin col-7() {
	-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%;
}
@mixin col-8() {
	-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%;
}
@mixin col-9() {
	-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%;
}
@mixin col-10() {
	-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%;
}
@mixin col-11() {
	-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%;
}
@mixin col-12() {
	-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;
}

@mixin off-1() {
	margin-left:8.333333%
}
@mixin off-2() {
	margin-left:16.666667%
}
@mixin off-3() {
	margin-left:25%
}
@mixin off-4() {
	margin-left:33.333333%;
}
@mixin off-5() {
	margin-left:41.666667%;
}
@mixin off-6() {
	margin-left:50%;
}
@mixin off-7() {
	margin-left:58.333333%;
}
@mixin off-8() {
	margin-left:66.666667%;
}
@mixin off-9() {
	margin-left:75%;
}
@mixin off-10() {
	margin-left:83.333333%;
}
@mixin off-11() {
	margin-left:91.666667%;
}


@mixin createGrid($size:'') {
	
.col#{$size}-1, [data-bsacf*="col#{$size}-1"] {@include col-1();}
.col#{$size}-2, [data-bsacf*="col#{$size}-2"] {@include col-2();}
.col#{$size}-3, [data-bsacf*="col#{$size}-3"] {@include col-3();}
.col#{$size}-4, [data-bsacf*="col#{$size}-4"] {@include col-4();}
.col#{$size}-5, [data-bsacf*="col#{$size}-5"] {@include col-5();}
.col#{$size}-6, [data-bsacf*="col#{$size}-6"] {@include col-6();}
.col#{$size}-7, [data-bsacf*="col#{$size}-7"] {@include col-7();}
.col#{$size}-8, [data-bsacf*="col#{$size}-8"] {@include col-8();}
.col#{$size}-9, [data-bsacf*="col#{$size}-9"] {@include col-9();}
.col#{$size}-10, [data-bsacf*="col#{$size}-10"] {@include col-10();}
.col#{$size}-11, [data-bsacf*="col#{$size}-11"] {@include col-11();}
.col#{$size}-12, [data-bsacf*="col#{$size}-12"] {@include col-12();}

.offset#{$size}-0, [data-bsacf*="offset#{$size}-0"] {margin-left:0}
.offset#{$size}-1, [data-bsacf*="offset#{$size}-1"] {@include off-1();}
.offset#{$size}-2, [data-bsacf*="offset#{$size}-2"] {@include off-2();}
.offset#{$size}-3, [data-bsacf*="offset#{$size}-3"] {@include off-3();}
.offset#{$size}-4, [data-bsacf*="offset#{$size}-4"] {@include off-4();}
.offset#{$size}-5, [data-bsacf*="offset#{$size}-5"] {@include off-5();}
.offset#{$size}-6, [data-bsacf*="offset#{$size}-6"] {@include off-6();}
.offset#{$size}-7, [data-bsacf*="offset#{$size}-7"] {@include off-7();}
.offset#{$size}-8, [data-bsacf*="offset#{$size}-8"] {@include off-8();}
.offset#{$size}-9, [data-bsacf*="offset#{$size}-9"] {@include off-9();}
.offset#{$size}-10, [data-bsacf*="offset#{$size}-10"] {@include off-10();}
.offset#{$size}-11, [data-bsacf*="offset#{$size}-11"] {@include off-11();}
	
}


@mixin bsGrid($size:'') {
	
.col#{$size}-1 {@include col-1();}
.col#{$size}-2 {@include col-2();}
.col#{$size}-3 {@include col-3();}
.col#{$size}-4 {@include col-4();}
.col#{$size}-5 {@include col-5();}
.col#{$size}-6 {@include col-6();}
.col#{$size}-7 {@include col-7();}
.col#{$size}-8 {@include col-8();}
.col#{$size}-9 {@include col-9();}
.col#{$size}-10 {@include col-10();}
.col#{$size}-11 {@include col-11();}
.col#{$size}-12 {@include col-12();}

.offset#{$size}-0 {margin-left:0}
.offset#{$size}-1 {@include off-1();}
.offset#{$size}-2 {@include off-2();}
.offset#{$size}-3 {@include off-3();}
.offset#{$size}-4 {@include off-4();}
.offset#{$size}-5 {@include off-5();}
.offset#{$size}-6 {@include off-6();}
.offset#{$size}-7 {@include off-7();}
.offset#{$size}-8 {@include off-8();}
.offset#{$size}-9 {@include off-9();}
.offset#{$size}-10 {@include off-10();}
.offset#{$size}-11 {@include off-11();}
	
}
