/*pagebuilder.scss*/

#wpwrap {z-index: 20}	
/*.acf-flexible-content .acf-editor-wrap iframe {min-height:none;}
.acf-flexible-content .acf-field[data-name="column"] {min-height: 0 !important;}
.acf-flexible-content .acf-field[data-name="column"] .acf-row-handle:hover .acf-icon {display: block;}

.acf-flexible-content .layout .acf-fc-layout-handle {
	background:#23282d;
	//background:#033e4d;
	color:#FFF !important;
}
.acf-flexible-content .acf-field-flexible-content {
	.acf-fc-layout-handle {
		background:#f4f4f4 !important;color:#000 !important;
	}
	
	.layout {
		border:solid 1px #d5d5d5;
	}
}
.acf-flexible-content .layout {
	border:solid 1px #f4f4f4;
	width: 100%;
	.acf-row-handle.order, .acf-row-handle.remove {
		background-color: #fafafa;
	}	
}

.acf-field[data-name="column"] .ui-sortable{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.acf-field[data-name="column"] .ui-sortable .acf-row {box-shadow: 0px 0px 5px rgba(0,0,0,0.2);z-index: 1;position: relative;}
.acf-field[data-name="column"] .ui-sortable .acf-row:hover {z-index: 3;position: relative;}
.acf-field[data-name="column"] .acf-fields {width:100% !important;}
.acf-field[data-name="column"] .ui-sortable .acf-row .acf-row-handle{flex:0 0 16px;max-width:16px;}
.acf-field[data-name="column"] tr.acf-row {
	float: left;display: inline-block;width: 100%;
}*/

/* .col-1, .acf-field[data-name="section_column"] .col-10, .acf-field[data-name="section_column"] .col-11, .acf-field[data-name="section_column"] .col-12, .acf-field[data-name="section_column"] .col-2, .acf-field[data-name="section_column"] .col-3, .acf-field[data-name="section_column"] .col-4, .acf-field[data-name="section_column"] .col-5, .acf-field[data-name="section_column"] .col-6, .acf-field[data-name="section_column"] .col-7, .acf-field[data-name="section_column"] .col-8, .acf-field[data-name="section_column"] .col-9, .acf-field[data-name="section_column"] .col-lg-1, .acf-field[data-name="section_column"] .col-lg-10, .acf-field[data-name="section_column"] .col-lg-11, .acf-field[data-name="section_column"] .col-lg-12, .acf-field[data-name="section_column"] .col-lg-2, .acf-field[data-name="section_column"] .col-lg-3, .acf-field[data-name="section_column"] .col-lg-4, .acf-field[data-name="section_column"] .col-lg-5, .acf-field[data-name="section_column"] .col-lg-6, .acf-field[data-name="section_column"] .col-lg-7, .acf-field[data-name="section_column"] .col-lg-8, .acf-field[data-name="section_column"] .col-lg-9, .acf-field[data-name="section_column"] .col-md-1, .acf-field[data-name="section_column"] .col-md-10, .acf-field[data-name="section_column"] .col-md-11, .acf-field[data-name="section_column"] .col-md-12, .acf-field[data-name="section_column"] .col-md-2, .acf-field[data-name="section_column"] .col-md-3, .acf-field[data-name="section_column"] .col-md-4, .acf-field[data-name="section_column"] .col-md-5, .acf-field[data-name="section_column"] .col-md-6, .acf-field[data-name="section_column"] .col-md-7, .acf-field[data-name="section_column"] .col-md-8, .acf-field[data-name="section_column"] .col-md-9, .acf-field[data-name="section_column"] .col-sm-1, .acf-field[data-name="section_column"] .col-sm-10, .acf-field[data-name="section_column"] .col-sm-11, .acf-field[data-name="section_column"] .col-sm-12, .acf-field[data-name="section_column"] .col-sm-2, .acf-field[data-name="section_column"] .col-sm-3, .acf-field[data-name="section_column"] .col-sm-4, .acf-field[data-name="section_column"] .col-sm-5, .acf-field[data-name="section_column"] .col-sm-6, .acf-field[data-name="section_column"] .col-sm-7, .acf-field[data-name="section_column"] .col-sm-8, .acf-field[data-name="section_column"] .col-sm-9 { float: left;display: inline-block;width: 100%;} */

/*UI*/

#page-builder-popup {
	padding:20px 5px;
	/*.mfp-close {
		color: #FFF;
	}*/
}
#page-builder-popup-form{
	display:-ms-flexbox;display:flex;
	
	.col-12{padding:0 15px;box-sizing:border-box}	
	.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
	.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}
	
	h2 {
		font-size: 1.7rem;
		line-height: 1.8rem;
		color: #029ad1;		
		text-align: left;
		margin: 1rem 0 0.5rem 0;		
		position: relative;		
		padding-left: 40px;
		
		&:before {
			content:'\e90d';
			display:inline-block;
			@include webfonts();
			vertical-align:baseline;				
			font-size: 1.6rem;
			line-height: 1.8rem;		
			position: absolute;
			left: 0;			
			border-radius: 36px;
		}
		
		&.show-section:before {
			content:'\e90f';
		}
	
	}
	
	h3 {
		position: relative;
		padding-left: 32px;
		color: #029ad1;
		font-size: 1.1rem;
		
		&::before {
			content:'\e90e';
			display:inline-block;
			@include webfonts();
			vertical-align:baseline;				
			font-size: 1.4rem;
			line-height: 1.4rem;
			//opacity:0.8;
			
			position: absolute;
			left: 0;
			//top: -2px;
		}
		
		&.acfbs-offsets::before {
			content:'\e909';
		}
		
		&.acfbs-custom::before {
			content:'\e90a';
		}
		
		&.acfbs-top-margin::before {
			content:'\e905';
		}
		
		&.acfbs-bot-margin::before {
			content:'\e906';
		}
		
		&.acfbs-top-pad::before {
			content:'\e908';
		}
		
		&.acfbs-bot-pad::before {
			content:'\e907';
		}
		
		
	}
	
	
	p {
		position: relative;
			
		&::before {
			content:'\e901';
			display:inline-block;
			@include webfonts();
			vertical-align:baseline;				
			font-size: 1rem;
			line-height: 1rem;
			margin-right: 8px;

		}

		&.i-tablet::before {
			content:'\e903';
		}

		&.i-laptop::before {
			content:'\e902';
		}


		&.i-desktop::before {
			content:'\e904';
		}
			
		
	}

}

button.open-bootstrap-popup, #submit-styles-btn, #reset-styles-btn {
    cursor: pointer;
}

.acf-field-repeater[data-name="column"] {
    table.acf-table tbody {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;

        .acf-fields {
            width: auto;
        }
        
        .acf-field-repeater .acf-repeater.-table {
            table.acf-table tbody {
                display: table-row-group;
            }
        }
        
    }
}

.acf-row[data-bsacf] {
    display: flex;


    .acf-fields, .layout {
        flex-grow: 1;
    }
}


.column-styles {
	.show-section {
		display: none !important;
	}
	.show-column, .show-both {
		display: block;
	}
	
	dl {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		flex-flow: column wrap;
	}
	
	dd {
		width: 100%;
		box-sizing:border-box;
	}
}
	
.section-styles {
	.show-column {
		display: none !important;
	}
	.show-section, .show-both {
		display: block;
	}
	
	.acfbs-custom-styles {
		width: 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	
	
	dl {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		flex-flow: column wrap;
	}
	
	dd {
		width: 100%;
		box-sizing:border-box;
	}
}

@media (min-width: 576px) {
	
	.section-styles {
		dl {
			max-height: 200px;
		}
		dd {
			width: 50%;
		}
	}
	
	
	.column-styles {
		dl {
			max-height: 300px;
		}
		dd {
			width: 50%;
		}
	}
		
}

.form-check {
  position: relative;
  display: block;
  padding-left: 32px;
}

.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -24px;
	left: 0;
	top: 7px;
}

.form-check-label {
  margin-bottom: 0;
	line-height: 32px;
}

@media (min-width: 768px) {
	.form-check {
		padding-left: 24px;
		
	}
	
	.form-check-label {
		line-height: 1.3rem;
	}
	
	
	.section-styles {
		dl {
			max-height: 200px;
		}
		dd {
			width: 20%;
		}
	}
	
	
	.column-styles {
		dl {
			max-height: 300px;
		}
		dd {
			width: 33%;
		}
	}
		
}




//.section-style {display:none;}


.custom-checkbox .custom-control-label::before{border-radius:.25rem}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before{border-color:#007bff;background-color:#007bff}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e")}
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before{background-color:rgba(0,123,255,0.5)}
.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before{background-color:rgba(0,123,255,0.5)}
.custom-radio .custom-control-label::before{border-radius:50%}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")}
.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before{background-color:rgba(0,123,255,0.5)}
.custom-select{display:inline-block;width:100%;height:calc(1.5em + 0.75rem + 2px)!important;padding:.375rem 1.75rem .375rem .75rem !important;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;vertical-align:middle;background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;background-color:#fff;border:1px solid #ced4da;border-radius:.25rem;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.custom-select:focus{border-color:#80bdff;outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,0.25)}
.custom-select:focus::-ms-value{color:#495057;background-color:#fff}
.custom-select[multiple],.custom-select[size]:not([size="1"]){height:auto;padding-right:.75rem;background-image:none}
.custom-select:disabled{color:#6c757d;background-color:#e9ecef}
.custom-select::-ms-expand{display:none}

.btn {  display: inline-block; font-weight: 400; color: #212529; text-align: center; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-color: transparent; border: 1px solid transparent; padding: 0.2rem 0.5rem; font-size: 0.8rem; line-height: 1.5; border-radius: 0.25rem; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;text-decoration: none;}
.btn-primary {color: #fff;background-color: #008ec2;border-color: #008ec2;}
.btn-primary:hover {color: #fff;background-color: #029ad1;border-color: #008ec2;}
.btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);color: #fff;}	
.btn-outline-primary {color: #008ec2;border-color: #008ec2;}
.btn-outline-primary:hover { color: #fff;  background-color: #008ec2;  border-color: #029ad1;}
.btn-outline-primary:focus, .btn-outline-primary.focus { box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);}

.btn.d-none {
	display: none;
}

//#page-builder-popup .show-sections, #page-builder-popup .show-columns {display: none;}
//#page-builder-popup.section-styles  {display:inline-block;}
//#page-builder-popup.column-styles .show-columns {display:inline-block;} 

